.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.card {
    width: 220px;
    margin: 2rem 1rem;
    background: var(--color-card);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    font-size: 0.8em;
    color: var(--color-text-card);

    hr {
        width: 100%;
        border: none;
        border-bottom: 1px dotted var(--color-highlight-text);
        margin-top: 0;
    }

    ins {
        text-decoration: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        .card-image {
            border-radius: 0.5rem;
            max-width: 100%;
            height: 180px;
            object-fit: cover;

            border: 2px solid #fff;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            filter: sepia(100%);
            image-rendering: pixelated;
        }

        .platforms {
            margin: 0.5rem 0;
            display: inline-block;
        }

        .card-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--color-highlight-text);

            .released {
                display: flex;
                align-items: center;
                font-weight: 700;

                ins {
                    margin-left: -0.3rem;
                    margin-right: 0.5rem;
                }
            }

            .rating {
                display: flex;
                align-items: center;
                margin-right: 0.2rem;

                ins {
                    margin: 0.5rem;
                    margin-bottom: 0.4rem;
                }
            }

            p {
                margin: 0;
            }
        }

        .genres {
            margin-top: 0.2rem;
            margin-bottom: -0.3rem;
        }

        h1 {
            line-height: 0.9em;
        }
    }

    &:hover {
        filter: brightness(1.2);

        .card-image {
            filter: sepia(0);
            image-rendering: auto;
        }
    }
}

.pixel {
    font-size: 14px;
    height: auto;
    margin: 1px 6px;
    padding: 2px 4px;
    font-family: 'VT323';

    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: auto;
    z-index: 2;

    p {
        margin: 0;
    }

    &:active {
        top: 2px;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: -5px;
        right: -5px;
        z-index: -1;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: -3px;
        right: -3px;
        z-index: -1;
    }

    &, &::before, &::after {
        color: #ffffff;
        background: var(--color-label-1);
    }
    
    &.label2, &.label2::before, &.label2::after {
        color: #ffffff;
        background: var(--color-label-2);
    }
}

.pixel-border {
    box-shadow:
        /* Inner Background Color */
        0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--color-card),
        0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--color-card),
        0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--color-card),
        0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--color-card),
        0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--color-card),
        0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--color-card),
        0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--color-card),
        0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--color-card),

        /* Pixel Border Layer 1 */
        calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
        var(--pixel) 0 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
        0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),

        /* Pixel Border Layer 2 */
        calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
        calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2),
        0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
        0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
        0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
        0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
        0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
        0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
        0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
        0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
        0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),

        /* Border Layer 3: --pixel-border-3 */
        calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
        calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
        0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
        0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
        0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
        0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
        0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
        0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
        0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
        0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
        0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
        0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
        0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
        0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3),
        0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}