.form {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 0.4em 1.3em;
    margin-top: 4rem;
    background-color: var(--color-form-bg);
    color: white;
    filter: drop-shadow(0px 0px 10px var(--color-highlight-text));
    position: relative;
    z-index: 5;

    select {
        overflow: hidden;
    }

    button {
        margin: 30px 0;
    }
}

.form-error {
    color: var(--color-error);
    margin: 5px 0 0.8em;
    font-size: 0.8em;
}

.form-group-row {
    display: flex;
    justify-content: space-between;
}

.form-group-row .form-group {
    flex-basis: calc(50% - 30px);
}

.form-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
    input {
        height: 22px;
    }
    
    .image-preview {
        max-height: 100px;
        width: auto;
    }
}