.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    width: 100%;

    input {
        height: 10px;
    }
    .search-bar, .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 12px;
    }
}