@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css2?family=Orbitron');
@import url('https://fonts.googleapis.com/css2?family=VT323');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

:root {
    background-color: #272727;
    background-image: url("tetris.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    
    --color-landing-pink: deeppink;
    --color-pink: #ff2a6d;
    --color-highlight-text: #d1f7ff;
    --color-label-1: #2c5ad9;
    --color-label-2: #c430a5;
    --color-card: #1a1a1a;
    --color-text-card: white;
    --color-form-bg: #1a1a1a;
    --color-form-border: white;
    --color-input: #fff;
    --color-input-border: #fff;

	--pixel-border: black;
	--pixel-border-2: white;
	--pixel-border-3: var(--pixel-border);
	--pixel: .15rem;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'VT323', monospace;
    font-size: 24px;
}

body:has(.landing) {
    background-image: url("/bg.gif");
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1em;
}

h1, h2, h3 {
    font-family: 'Press Start 2P', sans-serif;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    text-shadow: 0px 2px hotpink;
    color: white;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

img[alt]:after {  
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ddd;
    border-radius: 5px;
    content: "😵 " attr(alt);  
    font-family: 'VT323', monospace;
    color: #333;
    font-size: 0.7em;
}

a {
    color: inherit;
    text-decoration: none;
}