@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-image: url("/bg.gif");
    background-size: contain;
    background-attachment: fixed;
    font-family: "Press Start 2P";
}
